.blok {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.licht-grijs {
    background-color: #e2e3e5;
    color: #6c757d;
}
.donker-grijs {
    background-color: #9fa6ad;
    color: white;
}
.row {
    margin-bottom: 20px;
}