.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    gap: 15px;
}
.block { color: white; font-size: 2em; display: flex; align-items: center; justify-content: center; }

.block1 {
    grid-column: span 2;
    background-color: #b03532;
}
.block2 {
    grid-row: span 2;
    background-color: #33a8a5;
}
.block3 {
    background-color: #30997a;
}
.block4 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: #6a478f;
}
.block5 {
    background-color: #da6f2b;
}
.block6 {
    grid-column: span 3;
    background-color: #3d8bb1;
}
.block7 {
    background-color: #e03f3f;
}
.block8 {
    grid-column: span 4;
    background-color: #59a627;
}