.container{
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.container .block{
    margin:50px;
    padding:50px;
    background-color: white;
}