.container {
    display: grid;
    gap: 10px;
    color: white;
    font-size: 2em;
    text-align: center;
}
.block1 { background: #e74c3c; grid-area: one; }
.block2 { background: #2ecc71; grid-area: two; }
.block3 { background: #f1c40f; grid-area: three; }
.block4 { background: #3498db; grid-area: four; }

@media screen and (min-width: 320px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "one"
            "two"
            "three"
            "four";
    }
}

@media screen and (min-width: 772px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "two one"
            "three four";
    }
}

@media screen and (min-width: 992px) {
    .container {
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-areas:
            "one two two"
            "three four four";
    }
}