.container .block{
    margin:20px;
    padding:20px;
    background-color: white;
}

.container {
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 100px);
    gap: 5px;
}

.block1 { grid-area: 1 / 1; background: #b03532; }
.block2 { grid-area: 1 / 5; background: #33a8a5; }
.block3 { grid-area: 5 / 1; background: #30997a; }
.block4 { grid-area: 5 / 5; background: #6a478f; }
.block5 { grid-area: 3 / 3; background: #da6f2b; }
.block6 { grid-area: 2 / 2; background: #3d8bb1; }
.block7 { grid-area: 2 / 4; background: #e03f3f; }
.block8 { grid-area: 4 / 2; background: #59a627; }
.block9 { grid-area: 4 / 4; background: #4464a1; }

@media screen and (max-width: 700px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .block {
        grid-area: auto;
    }
}