body {
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    margin: auto;
    text-align: center;
}

.TitelHoofd {
    padding-top: 20px;
    font-size: 3em;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

.BelowTitle {
    font-size: 2.4em;
    font-weight: bold;
    margin: 0;

}
header {
    background-image: url("images/bgsky3.jpg");
    height: 200px;
    position: relative;
    background-size: cover;
}
header p {
    text-align:  center;
    color: darkblue;
}

.small {
    position: absolute;
    z-index: 10;
    right: 250px;
    bottom: 60px;
}
.news {
    box-sizing: border-box;
    float: right;
    width: 25%;
    margin: 10px;
    color: #666666;
    background-color: #dddddd;
    border: 1px solid #999999;
    font-size: 0.9em;
}
.news h3 {
    color: white;
    font-size: 1.2em;
    background-color: blue;
}
.TekstIcon {
    width: 75%;
    margin-right: 10px;
}
.TekstInleiding {
    background-color: white;
    text-align: justify;
    color: black;
}
.tekstIntroductie p {
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
}
.tekstIntroductie span {
    color: blue;
    font-weight: bold;
    font-style: italic;
}
.tekstIntroductie img {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.TekstMetLogo div > p:before {
    box-sizing: border-box;
    width: 20%;
    padding: 20px;
    content: url("images/airbus_logo.jpg");
    float: left;
}
.foto {
    background-color: #999999;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
}
.foto img {
    object-fit: cover;
    width: 180px;
    height: 180px;
    display: block;
}
.afbeelding {
    background-color: white;
    padding: 10px;
    border: 1px dashed #999999;
    box-sizing: content-box;
}

.documentary {
    display: inline-block;
}

.manchester {
    display: inline-block;
}
.bottom {
    line-height: 2em;
    background-color: #666666;
    color: white;
    text-align: left;
    padding-left: 120px;
}

.copyright {
    background-color: white;
    color: black;
}

.bottom a:hover {
    color: red;
}
.bottom a {
    color: white;
}


